<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/papercss@1.9.2/dist/paper.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>Xo Simply Sweet</title>
    <script>
      window.onload = () => {
        const ul = document.querySelector("ul");
        const recipes = JSON.parse(localStorage.getItem("recipes") || "[]");
        for (let i = 0; i < recipes.length; i++) {
          const recipeId = recipes[i];
          const li = document.createElement("li");
          const span = document.createElement("span");
          li.innerHTML = `<a href='/recipe/${recipeId}'>${recipeId}</a>`;
          span.className = "delete paper-btn btn-danger";
          span.innerText = "delete";
          span.onclick = () => {
            recipes.splice(i, 1);
            localStorage.setItem("recipes", JSON.stringify(recipes));
            setTimeout(() => location.reload(), 100);
          };
          li.appendChild(span);
          ul.appendChild(li);
        }

        const form = document.querySelector("form");
        form.addEventListener("submit", onSubmit, false);

        async function onSubmit(event) {
          event.preventDefault();
          const formData = new FormData(event.target);
          const data = formData.get("recipe");
          fetch("/recipe", {
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json",
            },
            referrerPolicy: "strict-origin-when-cross-origin",
            body: JSON.stringify({ recipe: data }),
            method: "POST",
            mode: "cors",
            credentials: "omit",
          })
            .then((res) => res.json())
            .then(({ id }) => {
              localStorage.setItem("recipes", JSON.stringify([...recipes, id]));
            })
            .catch((e) => console.log(e))
            .finally(() => {
              setTimeout(() => location.reload(), 500);
            });
        }
      };
    </script>
  </head>
  <body>
    <main class="paper container container-lg">
      <h2>Xo Simply Sweet</h2>
      <form action="">
        <div class="form-group">
          <label for="recipe">⬇⬇⬇ Add your sweet recipe here ⬇⬇⬇</label>
          <textarea
            id="recipe"
            name="recipe"
            placeholder="Recipe..."
          ></textarea>
          <button class="btn-block btn-secondary">Add recipe</button>
        </div>
      </form>
      <hr />
      <div class="container" id="recipe-wrapper">
        <ul id="recipes"></ul>
      </div>
    </main>
  </body>
</html>
