<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/papercss@1.9.2/dist/paper.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>Xo Simply Sweet | <%- recipe.id %></title>
    <script>
      window.onload = () => {
        const btn = document.querySelector("button#shareBtn");
        btn.addEventListener("click", shareRecipe);

        async function shareRecipe(event) {
          btn.disabled = true;
          fetch("/share/<%= recipe.id %>", {
            method: "POST",
          })
            .then((res) => res.json())
            .then(({ message }) => {
              alert(message);
              btn.disabled = false;
            })
            .catch((e) => console.log(e));
        }
      };
    </script>
  </head>
  <body>
    <main class="paper container container-lg" id="recipe-wrapper">
      <h2>Recipe: <%- recipe.id %></h2>
      <button class="btn-block" id="shareBtn">share recipe with admin</button>
      <hr />
      <div class="paper" id="recipe-body"><%- recipe.body %></div>
    </main>
  </body>
</html>
